/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center; /* Розміщує всі елементи по центру горизонтально */
    align-items: center; /* Розміщує всі елементи по центру вертикально */
    height: 100vh; /* Займає весь видимий розмір висоти */
}

header {
    background-color: #ff8c00;
    padding: 20px 0;
    text-align: center;
    width: 100%; /* Розтягнути шапку на всю ширину */
    position: fixed; /* Зробити шапку фіксованою */
    top: 0; /* Позиціонувати зверху */
    z-index: 1000; /* Забезпечити, щоб шапка була найвищим шаром */
}

header h1 {
    margin: 0;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px; /* Відстань від верхньої кромки шапки */
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px; /* Зменшив міжрядковий відступ */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: calc(100% - 20px); /* Зменшив ширину полів для вводу */
    padding: 8px; /* Зменшив внутрішній відступ */
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group input[type="password"]:focus {
    outline: none;
    border-color: #ff8c00;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}

#businessLink {
    text-align: center;
    margin-top: 20px;
}

#businessLink p {
    font-size: 14px;
}

#businessLink a {
    color: #007bff;
    text-decoration: none;
}

#businessLink a:hover {
    text-decoration: underline;
}

.rounded-img {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Тінь */
    z-index: 1000; /* Високий індекс для перекриття іншого вмісту */
}
