body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff8c00;
    padding: 35px;
    text-align: center;
    position: relative;
}

header img {
    border-radius: 50%;
    position: absolute;
    top:17px;
    left: 14px;
}

header h1 {
    margin: 0;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ff8c00;
}

section {
    padding: 20px;
    margin: 10px;   
    background-color: #fff;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
}

section p {
    color: #666;
}

.forms {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}

.forms form {
    margin-bottom: 10px;
}

.forms input[type="text"],
.forms input[type="password"] {
    width: 150px;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.forms input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}



